*{
    background-color: aquamarine;
}
h1{
    color:yellow; 
    font-size: 30px;
}
p{
    color: chartreuse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
img{
    border-color: 2px solid orange;
}
